.gradle/
.idea/
build.gradle
build/
com.birdinhand.funkynetsoftware.iml
com.promogird.funkynetsoftware-free-release.apk
com.promogird.funkynetsoftware-release.apk
com.promogird.funkynetsoftware.iml
funkygridlibrary/
gradle.properties
gradle/
gradlew
gradlew.bat
libs/
local.properties
settings.gradle
src/main/res/drawable-xxhdpi/add_people_image_rose.png
src/main/res/drawable-xxhdpi/eval_people_image_rose.png
src/main/res/drawable-xxhdpi/reports_image_rose.png
